/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 20px;
}

#clipboard-history {
    margin-top: 20px;
}
#clipboard-list {
    list-style-type: none;
    padding: 0;
}
#clipboard-list li {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    max-height: calc(100vh - 140px);
    overflow: auto;
    overflow-x: hidden;
}
  
ul {
    padding-left: 0;
    list-style-type: none;
}

/* General styling for clipboard items */
.clipboard-item {
    background-color: #1e1e1e;  /* Dark theme */
    color: #ffffff;
    font-family: "Courier New", monospace;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 10px 0;
}

/* Sticky header */
.clipboard-item-header {
    background-color: #282c34;
    padding: 8px 10px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(-8px, -5px);
    width: 100%;
}

/* Code block styling */
.clipboard-content {
    background-color: #1e1e1e;
    padding: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 5px;
}

/* Button styling */
.copy-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 5px;
}

.copy-btn {
    margin-left: auto;
}

.copy-btn:hover, .delete-btn:hover {
    color: #61dafb;
}

/* Icon Styling */
.copy-btn i, .delete-btn i {
    font-size: 16px;
}

#clear-btn {
    border: 2px solid;
    color: tomato;
    background: #FFF;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

/* Pagination Styles */
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.pagination-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Courier New", monospace;
    max-width: 100%; 
}